{% extends 'base_logged.html' %}
{% load static %}
{% block content %}
{% include 'messages.html' %}
<body class="background-color">
    <div style="margin-left: 40px; margin-top: 10px" class="add_product_form">
        <form action="/add_product/" method="post">
            {% csrf_token %}
            <h2>Dodaj produkt:</h2>
            <input class="add_product" id="product_name" type="text" name="product_name" placeholder="Nazwa produktu">
            <br>

        {% for i in category %}
            <input type="radio" id="{{i.id}}" name="radiocat" value="{{i.id}}">
            <label>{{ i.category_name }}</label><br>
        {% endfor %}
            <input class="add_product_button" type="submit" value="Dodaj produkt"><br>

        </form>
    </div>
</body>

{% endblock %}